{{ if .Site.Params.documentation.types }}
{{ range.Site.Params.documentation.types }}
{{ $type := . }}
<h4 style="text-decoration: underline;">{{ $type }}</h4>
{{- range $.Site.Params.documentation.list -}}
{{ if eq $type .type }}
{{- $this_documentation := . -}}
<p class="foo indent-8">
  {{- range $.Site.Params.documentation.format -}}
  {{- partial "accordion/supportingPartials/addTitle" (dict "all" $this_documentation "ind" .) -}}
  {{- end -}}
</p>
{{ end }}
{{- end -}}
{{ end }}

{{ else }}

{{- range $.Site.Params.documentation.list -}}
{{- $this_documentation := . -}}
<p class="bar -indent-8">
  {{- range $.Site.Params.documentation.format -}}
  {{- partial "accordion/supportingPartials/addTitle" (dict "all" $this_documentation "ind" .) -}}
  {{- end -}}
</p>
{{ end }}
{{ end }}
